[submodule "deployment"]
	path = deployment
	url = https://git.saltov.dynabic.com/kharkovgroup/cad/deployment.git
	branch = aspose.cad.net.reference
[submodule "docfx/src"]
	path = docfx/src
	url = https://github.com/dotnet/docfx.git
[submodule "docfx/templates/mathew"]
	path = docfx/templates/mathew
	url = https://github.com/MathewSachin/docfx-tmpl.git
[submodule "docfx/plugins/DocFx.Plugin.LastModified"]
	path = docfx/plugins/DocFx.Plugin.LastModified
	url = https://github.com/Still34/DocFx.Plugin.LastModified
