.topheader .menuitems {
  z-index: 999;
}

.topbutton .icon-bar:nth-child(2) {
  transform: rotate(45deg);
  padding-left: 10px;
  left: 0;
  top: 5px;
  transition: .3s all ease-in-out;
}

.topbutton .icon-bar:nth-child(3) {
  display: none;
}

.topbutton .icon-bar:nth-child(4) {
  transform: rotate(-45deg);
  padding-right: 10px;
  left: 0;
  transition: .3s all ease-in-out;
  margin-top: -2px;
}

.toggletopnav .topheadermenus a {
  margin: 0 .15em 0 .15em;
  padding: 0 .5em 0 .5em;
}

.toggletopnav .icon-bar:nth-child(2) {
  transform: rotate(45deg);
  left: 0;
  top: 5px;
  transition: .3s all ease-in-out;
}

.toggletopnav .icon-bar:nth-child(3) {
  display: none;
}

.toggletopnav .icon-bar:nth-child(4) {
  transform: rotate(-45deg);
  left: 0;
  transition: .3s all ease-in-out;
  margin-top: -2px;
}

@media (max-width: 668px) {
  #DynabicMenuInnerDiv {
    margin-bottom: 30px;
  }

  .topheader.topbutton .menuitems {
    display: block;
    margin: 0;
    width: 100%;
    background: #222;
  }

  div#DynabicMenuUserControlsclone {
    display: block !important;
  }
}

@media (max-width: 1024px) {
  .topheader .menuitems {
    display: block !important;
    transition: .5s all ease-in-out;
    left: -300px !important;
    background: #222;
  }

  .topheader.topbutton .menuitems {
    display: block !important;
    transition: .5s all ease-in-out;
    left: 0 !important;
  }

  .topheadermenus li ul .productmenubox a {
    padding: 10px 15px !important;
    display: block;
    width: 100%;
  }

  .topheadermenus .menuallapp span {
    width: 100%;
  }

  .topheadermenus .menuallapp span h3 {
    display: none;
  }

  .menuitems ul li:hover .productmenubox a:after {
    display: none !important;
  }

  .togglebtn {
    float: left;
    margin: 0 5px 0 0 !important;
  }

  .menuitems {
    right: inherit !important;
    left: 0 !important;
  }

  .topheader,
  .topsection {
    width: 100%;
    min-width: 100% !important;
    max-width: 100%;
    padding: 0 !important;
  }

  .togglebtn {
    display: block !important;
  }

  .menuitems {
    display: none;
  }

  .venturelogo {
    margin-left: 10px;
  }

  .topheader .menuitems {
    margin-left: 0 !important;
    height: inherit;
  }
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-style: normal
}

::-moz-placeholder {
  font-weight: 400;
  font-style: normal
}

:-ms-input-placeholder {
  font-weight: 400;
  font-style: normal
}

:-moz-placeholder {
  font-weight: 400;
  font-style: normal
}

#DynabicMenuInnerDiv {
  margin-bottom: 0.5rem
}

#DynabicMenuFooter {
  display: table;
  width: 100%
}

body,
html {
  padding: 0;
  margin: 0
}

A:HOVER,
a,
a:focus,
a:hover {
  text-decoration: none !important
}

.footerbottom ul,
.topheader ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.footerbottom ul li,
.topheader ul li {
  float: left;
  list-style-image: none !important
}

.topheader {
  width: 100%;
  min-width: 1000px;
  height: 60px;
  background: #111;
  box-shadow: 0 -10px 10px -10px #000 inset;
  font-family: Arial, Verdana, Tahoma;
  z-index: 9999999
}

.topsection {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px
}

.venturelogo a {
  float: left;
  width: 270px;
  height: 50px;
  line-height: 50px;
  background: url(//cms.admin.containerize.com/templates/aspose/App_Themes/V3/images/aspose-logo.png) 0 0 no-repeat;
  margin-top: 5px
}

.menuitems {
  height: 60px;
  float: left;
  margin-left: 60px;
  padding: 0 !important
}

.topheadermenus a {
  font-size: 14px;
  text-decoration: none;
  color: #fff !important;
  display: block;
  margin: 0 .25em 0 .25em;
  color: #fff;
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 1em 0 1em
}

.topheadermenus ul {
  display: none
}

.topheadermenus li li {
  width: 100%;
  float: left;
  font-size: 13px;
  margin: 5px 0 0
}

.topheadermenus li li a {
  font-size: 13px;
  line-height: 32px !important;
  margin: 0 !important
}

.topheadermenus li a:hover {
  background: #2072a7;
  color: #fff
}

.topheadermenus li li:focus {
  background: #3071a9;
  color: #fff
}

.footerbottom {
  float: left;
  width: 100%;
  position: relative;
  background: #222;
  background: -moz-linear-gradient(top, #222 30%, #444 100%);
  background: -webkit-linear-gradient(top, #222 30%, #444 100%);
  background: linear-gradient(to bottom, #222 30%, #444 100%)
}

.footercol {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center
}

.socialicon {
  width: auto;
  display: table;
  margin: 30px auto 40px
}

.socialicon ul {
  padding: 0;
  margin: 0;
  list-style-type: none
}

.socialicon ul a {
  padding: 8px 10px !important;
  margin: 0 2px;
  border-radius: 100%;
  color: #818692 !important;
  text-align: center;
  display: block;
  height: 25px;
  font-size: 20px;
  line-height: 30px
}

.bottomenuitems {
  width: auto;
  display: inline-block;
  margin: 0 auto 20px
}

.bottomenuitems ul {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.bottomenuitems ul li {
  float: left
}

.bottomenuitems ul li a {
  padding: 0;
  margin: 0 25px;
  color: #fff !important;
  text-align: center;
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif
}

.bottomenuitems ul li a:hover,
.footer2col a:hover {
  color: #3d8ec4 !important;
  text-decoration: none
}

.footer2bar {
  float: left;
  width: 100%;
  height: 52px;
  background: #242323;
  background: -moz-linear-gradient(top, #242323 0, #333 100%);
  background: -webkit-linear-gradient(top, #242323 0, #333 100%);
  background: linear-gradient(to bottom, #242323 0, #333 100%);
  border-bottom: 3px solid #222
}

.footer2col {
  width: 100%;
  margin: 0 auto
}

.footer2col p {
  font-size: 11px !important;
  margin: 0 10px 0 0;
  color: #868484 !important;
  line-height: 52px;
  float: left !important;
  font-family: Arial, Verdana, Tahoma
}

.footer2col a {
  font-size: 11px !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #868484 !important;
  line-height: 52px;
  font-family: Arial, Verdana, Tahoma;
  text-decoration: none !important
}

.socialicon a:hover {
  color: #fff !important
}

.sep1 {
  color: #818692;
  font-size: 15px
}

.togglebtn {
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #333;
  min-height: 60px;
  padding: 0 15px;
  border-radius: 0;
  outline: 0
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.icon-bar {
  transform: rotate(0);
  padding: 0;
  left: 0;
  display: block;
  top: 0;
  transition: .3s all ease-in-out;
  margin-top: 4px
}

.icon-bar+.icon-bar {
  margin-top: 4px
}

.icon-bar {
  background: #888
}

.togglebtn .icon-bar {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px
}

.togglebtn {
  display: none;
  background: #333;
  margin: 0 0 0 5px;
  min-height: 60px;
  padding: 0 15px;
  border-radius: 0
}

img {
  outline: 0 !important
}

.footerbottom i {
  font-style: normal
}

.userloginbox {
  float: right;
  position: relative;
  padding-top: 15px
}

.userloginbox .userlogin {
  padding: 0 5px 0 5px !important;
  display: block !important;
  color: #eaeaea !important;
  max-height: 60px !important;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 15px
}

.footer2col {
  text-align: center
}

.footer2text {
  text-align: center;
  display: inline-block
}

.footer2col p {
  display: inline;
  float: none !important
}

.footer2anchor {
  display: inline-block
}

.topsection button+div a {
  float: left;
  line-height: 50px;
  margin-top: 5px
}

.topheadermenus li:hover ul {
    display: block;
    float: left;
    width: 175px;
    position: absolute;
    background: #333;
    color: #fff;
	z-index: 99;
}

.topheadermenus li li {
    width: 100%;
    float: left;
    font-size: 13px;
    margin: 5px 0 0
}

    .topheadermenus li li a {
        font-size: 13px;
        line-height: 32px !important;
        margin: 0 !important
    }

.topheadermenus li a:hover {
    background: #2072a7;
    color: #fff
}

.topheadermenus li li:focus {
    background: #3071a9;
    color: #fff
}

.menuitems .mobileanchor.openmenu ~ ul {
  display: block !important; 
}

@media (max-width: 1024px) and (min-width: 0) {
    .menuitems ul li a {
        line-height: 40px !important;
        margin: 0 !important;
    }
}

.topheadermenus a {
    font-size: 14px;
    text-decoration: none;
    color: #fff !important;
    display: block;
    margin: 0 .25em 0 .25em;
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 60px;
    padding: 0 1em 0 1em;
}

@media(max-width:1024px) and (min-width:0) {

  .footer2anchor,
  .footer2col p {
    display: table !important
  }

  .menuitems li a:after {
    float: right;
    content: "";
    font-size: 16px;
    font-family: Fontawesome;
    color: #999
  }
}

@media(max-width:1024px) {

  .topheader,
  .topsection {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 0 !important
  }

  .togglebtn {
    display: block
  }

  .menuitems {
    display: none
  }

  .venturelogo {
    margin-left: 10px
  }

  .footer2bar {
    background: #000 !important;
    height: inherit
  }

  .footer2col,
  .footercol {
    width: 100% !important
  }

  .footer2anchor,
  .footer2text {
    display: block;
    clear: both;
    height: 20px;
    background: #000 !important
  }

  .footer2anchor,
  .footer2col p {
    float: none !important;
    text-align: center;
    line-height: 16px;
    background: #000 !important;
    width: 100%;
    display: table;
    clear: both
  }
}

@media(max-width:768px) {
  .socialicon ul li {
    width: 15% !important;
    min-height: 40px;
    float: none;
    display: inline-block
  }

  .sep1 {
    display: none !important
  }

  .bottomenuitems ul li {
    margin: 0 10px 10px 10px !important;
    float: none !important;
    display: inline-block !important
  }

  .bottomenuitems ul {
    display: table !important;
    text-align: center !important
  }

  .bottomenuitems ul li a {
    margin: 0
  }

  .bottomenuitems ul li.sep1 {
    display: none !important
  }
}

@media(max-width:480px) {
  .userlogstatus {
    width: 100px
  }
}

@media(max-width:1024px) and (min-width:0) {
  .menuitems {
    right: 0 !important;
    width: 280px !important;
    left: inherit !important;
    overflow-y: auto;
    margin: 0;
    clear: both;
    position: absolute;
    top: 60px;
    background: #fff;
    padding-right: 0;
    max-height: 500px !important;
    height: inherit
  }

  .menuitems ul {
    margin-left: 0 !important
  }

  .menuitems ul li {
    margin-left: 0 !important;
    width: 100% !important
  }

  .menuitems ul li a {
    line-height: 40px !important;
    margin: 0 !important
  }

  .menuitems ul li a:after {
    float: right;
    content: "";
    font-size: 16px;
    font-family: Fontawesome;
    color: #999
  }

  .menuitems ul li:hover a:after {
    float: right;
    content: "";
    font-size: 16px;
    font-family: Fontawesome;
    color: #fff
  }
  
  .menuitems ul ul {
    display: none;
  }
  
  .menuitems ul li:hover ul {
	  display: block !important;
  }

  .menuitems ul ul {
    position: relative !important;
    background: #000 !important;
    width: 100% !important;
    border-radius: 0 !important;
    float: left;
    margin-top: 0 !important
  }

  .menuitems ul li li {
    width: 100% !important;
    padding: 0 !important;
    margin-top: 0 !important
  }

  .menuitems ul li li a {
    padding: 2px 15px !important;
    line-height: 35px !important
  }

  .menuitems ul li li a:after {
    display: none !important
  }

  .menuitems ul li:hover {
    background: 0 0 !important
  }

  .menuitems ul li li a:hover {
    background: #439cda !important
  }
}

.userloginbox .fa.fa-user {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #006bb0;
  border-radius: 100%;
  font-size: 16px
}

@media(max-width:668px) {
  .userlogstatus {
    width: 100px !important
  }

  .venturelogo a {
    width: 185px !important;
    background-size: 180px !important;
    background-position: 0 8px !important
  }
}

@media(max-width:1024px) {
  .togglebtn {
    float: left;
    margin: 0 5px 0 0 !important
  }

  .menuitems {
    right: inherit !important;
    left: 0 !important
  }
}

.desklink {
  display: block !important
}

.moblink {
  display: none !important
}

.topurlink.moblink:after {
  display: none !important
}

#DynabicMenuUserControlsclone {
  display: none !important
}

@media(max-width:1024px) {
  .topurlink.moblink {
    display: block !important
  }

  .topurlink.moblink:hover {
    background: #2072a7;
    color: #fff
  }

  .desklink {
    display: none !important
  }

  .topurlink.moblink:after {
    display: none !important
  }

  div#DynabicMenuUserControlsclone {
    display: block !important
  }

  .menuitems ul li a {
    box-sizing: border-box !important
  }

  .topheader .menuitems {
    display: block !important;
    transition: .5s all ease-in-out;
    left: -300px !important;
    background: #222
  }

  .productmenubox {
    width: 100% !important;
    max-width: 100%
  }

  .topheadermenus li ul .productmenubox a {
    padding: 10px 15px !important;
    display: block;
    width: 100%
  }

  .menuitems ul li:hover .productmenubox a:after {
    display: none !important
  }

  .productmenubox em {
    font-style: normal !important;
    float: none !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    display: inline !important;
    white-space: nowrap !important
  }

  .productmenubox a b {
    font-size: 14px !important;
    display: inline !important;
    clear: none !important;
    font-weight: 400 !important
  }
}

.twocolmenu.topheadermenus li:nth-child(1):hover ul {
  width: inherit !important
}

.productmenubox {
  width: 500px;
  float: left;
  display: block
}

.topheadermenus li .productmenubox a {
  line-height: 20px !important;
  margin: 10px 0 0;
  float: left;
  padding: 5px 15px !important;
  display: inline-block;
  width: 33.33%;
  box-sizing: border-box
}

.topheadermenus li .productmenubox a:hover {
  background: #3071a9 !important;
  color: #fff !important
}

.productmenubox a b {
  font-size: 12px;
  display: block;
  clear: both;
  font-weight: 400
}

.productmenubox em {
  font-style: normal;
  float: left;
  font-size: 16px;
  font-weight: 600
}

@media(max-width:350px) {
  .userlogstatus {
    width: 75px !important
  }
}

@media(max-width:320px) {
  .venturelogo a {
    width: 165px !important;
    background-size: 180px !important;
    background-position: 0 8px !important
  }

  .userlogstatus {
    width: 80px !important
  }
}